<footer>
  <div class="container inner" style="flex-direction:column; gap:10px; text-align:center;">

    <!-- Legal Links -->

    <div style="margin-top:5px; font-size:0.8rem; color:var(--muted); line-height:1.6;">
      <strong>© 2025 Omnitryx Inc.</strong> All Rights Reserved.
    </div>

    <div style="font-size:0.8rem; color:var(--muted); line-height:1.6;">

      Corp Number:
      <a href="https://ised-isde.canada.ca/cc/lgcy/fdrlCrpDtls.html?p=0&corpId=17533110&crpNm=Omnitryx" target="_blank">
        1753311-0
      </a>

      · BN: 753152438

      · OCN:
      <a href="https://www.appmybizaccount.gov.on.ca/onbis/corporations/viewInstance/view.pub?id=280aa9d4fbca6577ccb365bb8f57e85a8b59089df97d9e29a34e4bce00859661" target="_blank">
        1001438238
      </a>

      <br>
      Incorporated on December 08, 2025 in Ontario, Canada
    </div>

    <div style="font-size:0.8rem; line-height:1.6; color:var(--muted); display:flex; gap:10px; justify-content:center;">
      <a href="/legal/privacy-policy/" style="color:var(--muted); text-decoration:none;">Privacy Policy</a>
      <span>·</span>
      <a href="/legal/terms-and-conditions/" style="color:var(--muted); text-decoration:none;">Terms & Conditions</a>
    </div>

  </div>
</footer>